# String 
- 문자로 된 데이터

In [7]:
# '' / "" 을 통해 생성
'a'

'a'

In [8]:
'1'

'1'

In [9]:
type('a')

str

In [10]:
type('1')

str

# 문자열 합치기

In [11]:
'a' + 'b'

'ab'

# 리스트

In [2]:
# a 라는 리스트를 생성한다.
a = ["a","b","c","d"]

In [3]:
# a 리스트의 첫번째 element 가져오기.
a[0] 

# 주의: 파이썬의 경우 0부터 시작하기 때문에 첫번째는 0으로 설정해주어야함!

'a'

In [4]:
# a 리스트의 처음부터 세번째까지 element 가져오기.
a[0:3]

# 0의 경우 생략해도됨 a[:3]

['a', 'b', 'c']

In [5]:
# 리스트의 크기/길이 확인하기.
len(a)

4

## Element 추가하기.

In [22]:
a

['a', 'b', 'c', 'd']

In [23]:
a.append('e')

In [24]:
a

['a', 'b', 'c', 'd', 'e']

# For

In [6]:
# 기본 형태 익히기.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
import pandas as pd

In [25]:
# a 라는 리스트를 생성한다.
a = ["a","b","c","d"]
a

['a', 'b', 'c', 'd']

In [26]:
pd.DataFrame(a,columns=['Alphabet'])

  Alphabet
0        a
1        b
2        c
3        d